
  <nav>
    <div class="nav-wrapper">
      <a href="{{path('app_home')}}" class="brand-logo right">Home</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{path('app_home')}}">Home</a></li>
        <li><a href="{{path('app_basket')}}">Panier</a></li>
        <li><a href="{{path('app_my_video_games')}}">mes jeux</a></li>
        <li><a href="{{path('app_create_videogame')}}">Création de jeux vidéo à vendre</a></li>
      </ul>
    </div>
  </nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>